.header
  %p On Earth Day
  %h1 Henry turns five
  %p
    Celebrate with us on Saturday,
    %strong April 23
  %p
    At
    %strong Bouncing Off The Wall
  %p
    %strong Noon to 2pm
.content
  =link_to 'RSVP on Facebook', 'http://www.facebook.com/event.php?eid=220102334672093', :class => 'button blue xl brackets'
.spacer
